<!-- <div class="dashboard-container"> -->
    <%#= render 'shared/sidebar' %>
    <h1>Show Page User</h1>
<!-- </div> -->

<div> <%= link_to "show all watches", watches_path %> </div>
<div><%= link_to "show all requests", requests_path %> </div>
<div><%= link_to "create new watch listing", new_watch_path %></div>



<!-- <div>
  <%= link_to "Home Page", root_path %>
</div>


<div>
  <%= link_to "All requests", user_path %>
</div>

<div>
  <%= link_to "Add New Watch", new_watch_path %>
</div>

<div>
  <%= link_to "Edit Watch", edit_watch_path %>
</div>

<div>
  <%= link_to "Delete a Watch", user_path, method: :delete %>
</div>

<div>
<%= link_to "Watches All", watches_path %>
</div>

<div>
  <%= link_to "Specific watch", watch_path(:id) %>
</div> -->



