<!-- <div class="dashboard-container"> -->
    <%#= render 'shared/sidebar' %>
    <h1>Show Page User</h1>
<!-- </div> -->

<div> <%= link_to "show all watches", watches_path %> </div>
<div><%= link_to "show all requests", requests_path %> </div>
<div><%= link_to "create new watch listing", new_watch_path %></div>


    <div class="card-dash">
      <div class="column1">
        <img src="https://images.unsplash.com/photo-1508685096489-7aacd43bd3b1?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=582&q=80" alt="watch", style="width: 200px">

      </div>

      <div class="content">

        <div class="title border-bottom">
          <h3>ROLEX</h3>
        </div>

        <div class="column2">
          <div>
            <h5>Start</h5>
            <p>13:00</p>
            <p>Dim 4 nov</p>
          </div>
          <div class="text">
            <h5>End</h5>
            <p>13:00</p>
            <p>Lun 4 nov</p>
          </div>
        </div>

        <div class="button">
          <%= link_to "Change", requests_path %>
        </div>
    </div>

<!-- <div>
  <%= link_to "Home Page", root_path %>
</div>


<div>
  <%= link_to "All requests", user_path %>
</div>

<div>
  <%= link_to "Add New Watch", new_watch_path %>
</div>

<div>
  <%= link_to "Edit Watch", edit_watch_path %>
</div>

<div>
  <%= link_to "Delete a Watch", user_path, method: :delete %>
</div>

<div>
<%= link_to "Watches All", watches_path %>
</div>

<div>
  <%= link_to "Specific watch", watch_path(:id) %>
</div> -->



