<div class="dashboard-container">
    <div class="dashboard-sidebar">
      <%= render 'shared/sidebar' %>
    </div>
  <div>
    <div class="dashboard-main">
      <h3>Requests</h3>
      <%= render 'shared/request-card' %>
      <%= render 'shared/request-card' %>
      <%= render 'shared/request-card' %>
    </div>
  </div>
</div>





<!-- <div>
  <%= link_to "Home Page", root_path %>
</div>


<div>
  <%= link_to "All requests", user_path %>
</div>

<div>
  <%= link_to "Add New Watch", new_watch_path %>
</div>

<div>
  <%= link_to "Edit Watch", edit_watch_path %>
</div>

<div>
  <%= link_to "Delete a Watch", user_path, method: :delete %>
</div>

<div>
<%= link_to "Watches All", watches_path %>
</div>

<div>
  <%= link_to "Specific watch", watch_path(:id) %>
</div> -->



