
<!-- guys j'ai ajouté les photos de la montre pour chaque request, i change some
style like the height, width, button, text-place -->

<% @requests.each do |request| %>
  <div class="card-dash">
    <div class="column1">
      <%= cl_image_tag request.watch.image_url.key, crop: :fill %>
    </div>

    <div class="content">


      <div class="title border-bottom">
        <h3><%= request.watch.brand %></h3>
      </div>

      <div class="info-request">
        <h5><%= request.watch.model %></h5>
      </div>

      <div class="column2">
        <div>
          <h5>Start</h5>
          <p><%= request.date_start[4] + request.date_start[5] + "/" + request.date_start[8] + "/" + request.date_start[17] + request.date_start[18] + request.date_start[19] + request.date_start[20]%></p>
        </div>

        <div class="text">
          <h5>End</h5>
          <p><%= request.date_end[4] + request.date_end[5] + "/" + request.date_end[8] + "/" + request.date_end[17] + request.date_end[18] + request.date_end[19] + request.date_end[20]%></p>
        </div>

      </div>

        <%= link_to "Change", requests_path(request.id), class: "button" %>

    </div>
  </div>

<% end %>
