<!-- body container added, for layout purpose. nav-bar is fixed to the top -->
<div class="container-body">
  <main role="main">
    <div class="jumbotron">
    <div class="homestyle">
      <h1 class="display-4">Welcome to WatchPrime</h1>
      <p class="lead"><span class="underline--magical">Find the perfect watch for the occasion</span></p>
    </div>
    <div class="container h-100">

    </div>
  </div>
    <div class="album py-5 bg-light">
      <div class="container">
        <h1 >Trending</h1>
        <div class="row">

    <% @watches.each do |watch| %>
    <div class="card-user">

      <div class="card-image">

      <%# Added heart wishlist button  %>
      <div id="watch-<%= watch.id %>">
        <%= link_to watch_wishlists_path(watch), method: :post, remote: true do %>
            <i class="far fa-heart"></i>
        <% end %>
      </div>
      <%# -------------------------------  %>

        <% if watch.image_url.attached? %>
          <%= cl_image_tag watch.image_url.key, crop: :fill, height: 350, width: 270 %>
        <% else %>
          <img src="https://res.cloudinary.com/dkpy2yoeq/image/upload/v1582817022/GHxz53Rryvj58zTtGx7o9q3t.jpg" alt="">
        <% end %>
      </div>

      <div class="content-watch">
        <div class="row1">
          <div>
            <h6><%= watch.brand %> <br> <%= watch.model %></h6>
          </div>
          <div>
            <p> $<%= watch.price %>/day</p>
          </div>
        </div>

        <div class="row2">
          <!-- button should be able to work with the good path -->


          <%= button_to "Book", new_watch_request_path(watch), class:"card-button", method: :get %>

        </div>

      </div>

    </div>
  <% end %>
        </div>
      </div>
    </div>
  </main>

</div>

<%# Testing buttons  %>


<%# Testing button to see if modal works %>

<%# <button id="modal-btn" onclick="window.modalClick('test1', 'test2', 'https://images.rolex.com/2019/catalogue/images/upright-bba-with-shadow/m116613lb-0005.png?imwidth=1024')">Reserve</button> %>
<%# <button id="modal-btn" onclick="window.modalClick('test1', 'test2', 'https://images.rolex.com/2019/catalogue/images/upright-bba-with-shadow/m116613lb-0005.png?imwidth=1024')">Reserve</button>  %>

<%# -------------  %>

<!-- <button onclick="modalClick('test1', 'test2', 'https://images.rolex.com/2019/catalogue/images/upright-bba-with-shadow/m116613lb-0005.png?imwidth=1024')">Reserve</button>
 --><%# -------------  %>

