<%= render 'shared/banner' %>



<div class="d-flex justify-content-between container">
    <% @watches.each do |watch| %>

    <%#= cl_image_tag watch.image_url, width: 400, height: 300, crop: :fill %>

    <!-- <img src= "<%= cl_image_path watch.image_url %>"> -->

    <div class="p-2">
      <div class="card" style="width: 18rem;">
      <img class="card-img-top" src="..." alt="Card image cap">
      <div class="card-body">
      <h5 class="card-title"><%= watch.brand %> <%= watch.model %></h5>
      <p class="card-text"><%= watch.price %>$/day</p>
      <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
      <%= link_to "Book Watch", new_watch_request_path(watch.id)%>
    </div>
  </div>
</div>
 <% end %>





