<div class="container-body">
  <div class="dashboard-container">
      <div class="dashboard-sidebar">
        <%= render 'shared/sidebar' %>
        <div class="container-watch">
    <% @watches.each do |watch| %>
    <% if watch.user == current_user %>
    <div class="card-user">
      <div class="card-image">
        <% if watch.image_url.attached? %>
          <%= cl_image_tag watch.image_url.key, crop: :fill, height: 350, width: 270 %>
        <% else %>
          <img src="https://res.cloudinary.com/dkpy2yoeq/image/upload/v1582817022/GHxz53Rryvj58zTtGx7o9q3t.jpg" alt="">
        <% end %>
      </div>
      <div class="content-watch">
        <div class="row1">
          <div>
            <h6><%= watch.brand %> <br> <%= watch.model %></h6>
          </div>
          <div>
            <p> $<%= watch.price %>/day</p>
          </div>
        </div>
        <div class="row2">
          <div>
            <%= link_to "Edit", edit_watch_path(watch.id), class:"button-user" %>
          </div>
        </div>
      </div>
    </div>

    <% end %>
  <% end %>
  </div>
      </div>
  </div>


</div>

